* {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    margin: 0;
    font-size: 18px;
    font-family: 'Avenir';
    height: 100%;
    background: #FCFDFF;
    color: #24195F;
    line-height: 1.618;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
}

.utility-wrapper {
    padding: 0 1.618em;
    margin: auto;
    max-width: 1000px;
}

.intro {
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    color: #F8EAFF;
    margin-bottom: 3em;
    z-index: 0;
}

.intro__background {
    background: url(./assets/main-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.intro__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.618em 0;
    font-weight: 600;
}

.intro__nav__logo {
    font-size: 21px;
    cursor: pointer;
}

.intro__nav__menu {
    background: url(./assets//menu-icon.svg);
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.intro__headline {
    text-align: center;
    margin: auto;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.8;
}

.intro__skills {
    padding: 0 0 60px;
}

.intro__scroll-btn {
    background: url(./assets/down-arrow.svg);
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    align-self: center;
    padding-bottom: 60px;
}

.section-title {
    color: #202ED5;
}

.section-title::after {
    content: "";
    display: block;
    background: #FDCEFF;
    height: 7px;
    width: 66px;
    margin: -15px 0 0 -1px;
}

.connect {
    padding-bottom: 3em;
    line-height: 2;
}

.connect__title {
    line-height: 1.618
}

.connect__content {
    text-align: center;
    padding: 1.618em 0 1.618em;
}

.connect__content p:first-child {
    padding: 0.618em;
}

.connect__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em 0;
}

.github {
    background: url(./assets/github.svg)
}

.dribbble {
    background: url(./assets/dribbble.svg)
}

.linkedin {
    background: url(./assets/linkedin.svg)
}

.icon {
    display: block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0 0 3em;
    font-size: 15px;
}