.email-link {
  font-weight: 600;
  color: $electric-blue;
  background: #eef4ff;
  border-radius: 5px;
  padding: 0.2em 0.4em;
  transition: all 0.1s;
}

.email-link:hover {
  background: #dee9ff;
}

.connect {
  padding-top: 3em;
  padding-bottom: 3em;
  line-height: 2;
  font-weight: 500;
}

.connect__title {
  line-height: 1.618;
}

.connect__content {
  text-align: center;
  padding: 1.618em 0;
}

.connect__content p:first-child {
  padding: 0.618em;
}

.connect__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3em 0;
  max-width: 500px;
  margin: auto;
}

.github {
  background: url(assets/github.svg);
}

.dribbble {
  background: url(assets/dribbble.svg);
}

.linkedin {
  background: url(assets/linkedin.svg);
}

.icon {
  display: block;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .connect__content {
    font-size: 21px;
  }
}
